/*Content Section*/
.contents {
  height: auto;
  width: auto;
  padding: 60px 0px;
}
.contents-cards {
  display: flex;
  justify-content: center;
}
.contents .card {
  background-color: white;
}
.contents .card-heading {
  width: 288px;
  height: auto;
}
.contents .work-card {
  display: flex;
  justify-content: space-between;
}
.contents-image {
  margin: 40px 40px 0px 40px;
}
.contents-heading {
  color: #000;
}
.contents-card-text {
  font-weight: normal;
  color: #5c5c5c;
  max-width: 100%;
}
.contents-button {
  border-color: #4452fe;
  background-color: #4452fe;
}

@media (max-width: 1100px) {
  .contents-cards {
    display: block;
  }
}
