/* header button*/
#logo {
  display: flex;
  padding: 20px;
}

.header-btn {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 40px;
}

.header-btn button {
  margin: 40px 0px;
}
.free-btn {
  border-color: #4452fe;
  background-color: #4452fe;
}

/*Header image or Screens*/
.screen {
  margin: 100px auto;
  position: relative;
  z-index: 1;
}
.scrns {
  display: inline-grid;
  gap: 10px;
  grid-template-columns: repeat(2, auto);
  transform: rotate(40deg) skew(350deg);
}
.dark-fade-gradient {
  height: 50vh;
  margin-top: -60vh;
  z-index: 2;
  position: relative;
  background-image: linear-gradient(#0000, black);
  width: auto;
}

.header h1 {
  padding-bottom: 0px;
}
.header {
  margin: 0px auto;
}

@media (max-width: 1100px) {
  .header-banner {
    flex-direction: column;
  }

  .screen img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .screen img {
    width: 150px;
    height: 150px;
  }

  .dark-fade-gradient {
    margin-top: -55vh;
  }
}
