/* header button*/

.header-btn {
  display: inline-grid;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
  gap: 40px;
 }

.header-btn button{
  margin: 40px 0px;
}
.free-btn {
border-color: #4452FE;
background-color: #4452FE;
}


/*Header image or Screens*/
.screen {
  margin: 100px auto;
  position: relative;
  z-index: 1;
}
.scrns {
display: inline-grid;
justify-content: center;
grid-template-columns: repeat(2, auto);
gap: 10px;
transform: rotate(40deg) skew(350deg);
overflow: hidden;
}
.dark-fade-gradient {
width: auto;
height: 50vh;
background-color: linear;
margin-top: -30%;
z-index: 2;
position: relative;
background-image: linear-gradient(#0000 ,black );
}

.header h1{
  padding-bottom: 0px;
}
.header{
margin: 0px auto;
}
