/*features*/
.features-content-frame {
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: auto;
}

.featImg-container {
  position: relative;
}
.featImg2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.features .content-row {
  max-width: 100%;
  padding: 20px;
}
.features .content-block {
  display: block;
  margin: 20px;
  text-align: left;
  max-width: 50%;
}

.feature-block-heading {
  max-width: 100%;
}
.feature-block-text {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

@media (max-width: 1360px) {
  .features-content-frame {
    display: block;
  }
  .features .content-row {
    display: flex;
  }
  .features .content-heading {
    display: block;
  }
}
@media (max-width: 1100px) {
  .features-content-frame {
    display: block;
  }
  .featImg2 {
    display: none;
  }

  .featImg-container img {
    max-width: 100%;
  }
  .features .content-row {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
  }
  .features .content-row {
    display: block;
  }
  .features .content-block {
    max-width: 100%;
    text-align: center;
  }
}
