/*footer*/
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-link-heading {
  margin: 10px 0px;
  padding: 20px 0px;
}
.footer-menu {
  padding: 20px;
  margin: 10px;
}

.column-content {
  display: flex;
  justify-content: center;
  text-align: left;
}
.content-row {
  text-align: left;
}
.footer .content-block {
  margin: 10px;
}
.social-media-icons {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
}
.phone-icon {
  padding: 0px 5px;
}

.footer-link-text,
.footer-address,
.footer-contact {
  padding: 10px;
  margin: 0px;
}

@media (max-width: 768px) {
  .footer-content {
    max-width: 80%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .footer-content {
    max-width: 80%;
    margin: auto;
  }
}

@media (max-width: 1100px) {
  .footer-content {
    display: block;
  }
  .column-content {
    display: flex;
    justify-content: center;
  }

  .content-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .content-row {
    justify-content: space-evenly;
  }
}
